.hero__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;
}

.hero__icon {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  fill: var(--primary-black-color);

  @media (768px <=width) {
    margin-right: 16px;
    width: 60px;
    height: 60px;
  }
}

.hero__title {
  width: 100%;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;

  @media (768px <=width) {
    font-size: 74px;
    line-height: 1;
  }
}

.hero__title--span {
  font-style: italic;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;

  @media (width < 768px) {
    max-width: 335px;
  }

  @media (768px <=width) {
    width: 528px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.hero__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;

  @media (768px <=width) {
    border-radius: 60px;
  }
}

.hero__hashtags-wrap {
  @media (1440px <=width) {
    position: absolute;
    right: 32px;
    display: flex;
    flex-direction: column;
  }
}

.hero__hashtags-image {
  display: none;
  border-radius: 20px;

  @media (1440px <=width) {
    display: block;
    width: 100%;
  }
}

.hashtags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  @media (width < 1440px) {
    justify-content: center;
  }

  @media (width < 768px) {
    margin-top: 20px;
  }

  @media (768px <=width) {
    margin-top: 16px;
  }

  @media (1440px <=width) {
    width: 200px;
    justify-content: space-evenly;
  }
}

.hashtags__item {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border: 1px solid var(--primary-black-color);
  border-radius: 30px;

  @media (768px < width) {
    padding: 4px 16px;
    font-size: 16px;
    line-height: 1.5;
  }
}