<footer class="page__footer">
  <div class="container footer__box">
    <div class="footer__content__box">
      <div>
        <a class="footer__logo" href="index.html">
          <svg class="footer__logo__icon" aria-label="Logo icon">
            <use href="/images/icons-sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="footer__social__list">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social__icon" aria-label="Facebook icon">
                <use href="/images/icons-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social__icon" aria-label="Instagram icon">
                <use href="/images/icons-sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__social__icon" aria-label="Youtube icon">
                <use href="/images/icons-sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_form__box">
        <h2 class="footer__main__header">
          Transforming your <span>body</span> shape with us
        </h2>
        <form class="footer__form" action="#" method="post" novalidate>
          <h3 class="footer__form__header">
            Subscribe and learn about new exercises!
          </h3>
          <input
            class="footer__form__input"
            type="email"
            formnovalidate=""
            name="email"
            id="email"
            placeholder="Email"
          />
          <p class="footer__form__message full_hidden"></p>
          <button class="footer__form__btn" type="submit" disabled>Send</button>
        </form>
      </div>
    </div>

    <div class="footer__privacy__box">
      <div class="footer__privacy__container">
        <p>Your Energy. All rights reserved.</p>
        <p class="footer__privacy__link__box">
          <a href="#">Privacy Policy</a><span>/</span
          ><a href="#">Terms of Service</a><span>/</span
          ><a href="team.html">Our team</a>
        </p>
      </div>
      <p>&#169;2023</p>
    </div>
  </div>
</footer>
