<section class="hero">
  <div class="container hero__container">
    <div class="hero__text-wrap">
      <div class="hero__title-wrap">
        <!-- <img class="hero__icon" src="/images/hero/sun.svg" alt="icon of sun" /> -->
        <svg class="hero__icon">
          <use href="/images/icons-sprite.svg#icon-sun"></use>
        </svg>
        <h1 class="hero__title">
          Get <span class="hero__title--span">Body</span> in <br />
          shape, Stay healthy
        </h1>
      </div>
      <p class="subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>

    <picture>
      <source
        srcset="
          /images/hero/women--m-335.avif 335w,
          /images/hero/women--m-670.avif 670w
        "
        media="(max-width: 767.98px)"
        sizes="335px"
        type="image/avif"
      />
      <source
        srcset="
          /images/hero/women--m-335.webp 335w,
          /images/hero/women--m-670.webp 670w
        "
        media="(max-width: 767.98px)"
        sizes="335px"
        type="image/webp"
      />
      <source
        srcset="
          /images/hero/women--m-335.jpg 335w,
          /images/hero/women--m-670.jpg 670w
        "
        media="(max-width: 767.98px)"
        sizes="335px"
        type="image/jpeg"
      />

      <source
        srcset="
          /images/hero/women--p-704.avif   704w,
          /images/hero/women--p-1408.avif 1408w
        "
        media="(min-width: 768px) and (max-width: 1439.98px)"
        sizes="704px"
        type="image/avif"
      />
      <source
        srcset="
          /images/hero/women--p-704.webp   704w,
          /images/hero/women--p-1408.webp 1408w
        "
        media="(min-width: 768px) and (max-width: 1439.98px)"
        sizes="704px"
        type="image/webp"
      />
      <source
        srcset="
          /images/hero/women--p-704.jpg   704w,
          /images/hero/women--p-1408.jpg 1408w
        "
        media="(min-width: 768px) and (max-width: 1439.98px)"
        sizes="704px"
        type="image/jpeg"
      />

      <source
        srcset="
          /images/hero/women--d-1376.avif 1376w,
          /images/hero/women--d-2752.avif 2752w
        "
        media="(min-width: 1440px)"
        sizes="1376px"
        type="image/avif"
      />
      <source
        srcset="
          /images/hero/women--d-1376.webp 1376w,
          /images/hero/women--d-2752.webp 2752w
        "
        media="(min-width: 1440px)"
        sizes="1376px"
        type="image/webp"
      />
      <source
        srcset="
          /images/hero/women--d-1376.jpg 1376w,
          /images/hero/women--d-2752.jpg 2752w
        "
        media="(min-width: 1440px)"
        sizes="1376px"
        type="image/jpeg"
      />

      <img
        class="hero__img"
        src="/images/hero/women--m-335.jpg.jpg"
        alt="Two women doing yoga"
        width="335"
        height="460"
      />
    </picture>

    <div class="hero__hashtags-wrap">
      <picture>
        <source
          srcset="
            /images/hero/legs--d-168.avif 168w,
            /images/hero/legs--d-336.avif 336w
          "
          media="(min-width: 1440px)"
          sizes="168px"
          type="image/avif"
        />
        <source
          srcset="
            /images/hero/legs--d-168.webp 168w,
            /images/hero/legs--d-336.webp 336w
          "
          media="(min-width: 1440px)"
          sizes="168px"
          type="image/webp"
        />
        <source
          srcset="
            /images/hero/legs--d-168.jpg 168w,
            /images/hero/legs--d-336.jpg 336w
          "
          media="(min-width: 1440px)"
          sizes="168px"
          type="image/jpeg"
        />

        <img
          class="hero__hashtags-image"
          src="/images/hero/legs--d-168.jpg"
          alt="photo of women legs in yoga pose"
          width="168"
          height="100"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
