<div class="backdrop-mobile is-hidden" data-mobile-menu>
  <div data-mobile-menu-content class="mobile__menu">
    <div></div>
    <nav class="mobile__nav">
      <ul class="mobile__nav__list">
        <li class="header__nav__item active">
          <a class="header__nav__link active" id="home" href="./index.html">Home</a>
        </li>
        <div class="header__nav-authorized">
          <li class="header__nav__item">
            <a class="header__nav__link" id="favorites" href="./favorites.html">Favorites</a>
          </li>
          <li class="header__nav__item">
            <button class="header__logout_btn" type="button">Log out</button>
          </li>
        </div>
        <li data-login-btn class="header__nav__item auth">
          <button class="header__auth_btn">Log in</button>
        </li>
      </ul>
    </nav>

    <ul class="mobile__menu__social__list">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">
          <svg class="mobile__menu__social__icon" aria-label="Facebook icon">
            <use href="/images/icons-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">
          <svg class="mobile__menu__social__icon" aria-label="Instagram icon">
            <use href="/images/icons-sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">
          <svg class="mobile__menu__social__icon" aria-label="Youtube icon">
            <use href="/images/icons-sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>