<aside class="quotes__wrapper">
  <div class="quotes__container">
    <div class="quotes__icon_wrapper">
      <svg class="quotes__logo_icon" aria-label="running icon">
        <use href="/images/icons-sprite.svg#icon-running-stick"></use>
      </svg>
    </div>
    <div class="quotes__text_wrapper">
      <div class="quotes__title_wrapper">
        <h3 class="quotes__title">Quote of the day</h3>
        <svg class="quotes__quote_icon" aria-label="quotes-icon">
          <use href="/images/icons-sprite.svg#icon-quotes"></use>
        </svg>
      </div>
      <p class="quotes__text" id="daily-quote"></p>
      <span class="quotes__author" id="quote-author"></span>
    </div>
  </div>
  <div class="quotes__img">
    <picture>
      <source media="(min-width: 1440px)" sizes="444px" srcset="
          /images/sidebar/women.avif    444w,
          /images/sidebar/women@2x.avif 888w
        " type="image/avif" />
      <source media="(min-width: 1440px)" sizes="444px" srcset="
          /images/sidebar/women.webp    444w,
          /images/sidebar/women@2x.webp 888w
        " type="image/webp" />
      <source media="(min-width: 1440px)" sizes="444px" srcset="
          /images/sidebar/women.jpg    444w,
          /images/sidebar/women@2x.jpg 888w
        " type="image/jpg" />
      <source media="(min-width: 768px)" sizes="288px" srcset="
          /images/sidebar/women-tab.avif    288w,
          /images/sidebar/women-tab@2x.avif 576w
        " type="image/avif" />
      <source media="(min-width: 768px)" sizes="288px" srcset="
          /images/sidebar/women-tab.webp    288w,
          /images/sidebar/women-tab@2x.webp 576w
        " type="image/webp" />
      <source media="(min-width: 768px)" sizes="288px" srcset="
          /images/sidebar/women-tab.jpg    288w,
          /images/sidebar/women-tab@2x.jpg 576w
        " type="image/jpg" />
      <source media="(max-width: 767.98px)" sizes="335px" srcset="
          /images/sidebar/women-mobile.avif    335w,
          /images/sidebar/women-mobile@2x.avif 670w
        " type="image/avif" />
      <source media="(max-width: 767.98px)" sizes="335px" srcset="
          /images/sidebar/women-mobile.webp    335w,
          /images/sidebar/women-mobile@2x.webp 670w
        " type="image/webp" />
      <source media="(max-width: 767.98px)" sizes="335px" srcset="
          /images/sidebar/women-mobile.jpg    335w,
          /images/sidebar/women-mobile@2x.jpg 670w
        " type="image/jpg" />
      <img class="quotes__img_img" src="/images/sidebar/women-mobile.jpg" alt="girls drinking water during workout"
        width="335" height="242" loading="lazy" />
    </picture>
  </div>
  <div class="quotes__workout_container">
    <div class="quotes__gym_icon_wrapper">
      <svg class="quotes__gym_icon" aria-label="running-icon">
        <use href="/images/icons-sprite.svg#icon-dumbbell"></use>
      </svg>
    </div>
    <div class="quotes__workout_text_wrapper">
      <div class="quotes__workout_title_Wrapper">
        <h3 class="quotes__workout_title">110 min</h3>
        <span class="quotes__workout_sub">Daily norm of sports</span>
      </div>
      <p class="quotes__workout_text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</aside>