<div class="rating-modal-content">
  <svg class="rating-close x-button">
    <use href="/images/icons-sprite.svg#icon-cross"></use>
  </svg>
  <form class="modal-form">
    <div class="rating-inputs">
      <input
        class="modal-form-email base-input"
        name="email"
        type="text"
        placeholder="Email"
        formnovalidate=""
      />
      <p class="modal-email-validate validate-form-message full_hidden"></p>
      <textarea
        rows="3"
        class="feedback-textarea base-textarea"
        name="feedback"
        placeholder="Your feedback"
      ></textarea>
    </div>
    <input
      class="feedback-submit base-submit"
      type="submit"
      value="Send"
    />
  </form>
</div>